<div class="row col-md-12">
<h1>Endpoints</h1>

<p *ngIf="!endpoints"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="endpoints">
  <thead>
    <tr>
      <th>EndpointName</th>
      <th>Message</th>
      <th>Environment</th>
      <th>Version</th>
      <th>UTC Timestamp</th>
      <th>Refresh Interval (sec)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let endpoint of endpoints">
      <td>{{endpoint.endpointName}}</td>
      <td>{{endpoint.message}}</td>
      <td>{{endpoint.environment}}</td>
      <td>{{endpoint.version}}</td>
      <td>{{endpoint.utcTimestamp}}</td>
      <td>{{endpoint.refreshIntervalInSeconds}}</td>
    </tr>
  </tbody>
</table>
</div>
